body {
            background-color: white;
        }
h1 + p 
{
    text-align: justify;
    background-color: pink;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgray;
}
a:link{
    color: red;
}
a:visited{
    color: pink;
}